{
  "openapi": "3.1.0",
  "info": {
    "title": "Chainels API",
    "description": "# Introduction\nThis is the documentation for all the API endpoints. You can read more about our API (getting started, authentication, etc) on our [developer page](https://www.chainels.com/developer).\n\n# Authentication\nWe use the OAuth 2.0 protocol to authenticate requests. Check out [our documentation on OAuth](https://www.chainels.com/developer/oauth) to find out how you can get an access token. There we describe the _Authorization Code_ and _Group Token_ grant (both are labeled `oauth_code` here) and the _Client Credential_ grant (labeled `oauth_client` here)\n<!-- ReDoc-Inject: <security-definitions> -->\n",
    "version": "2.1.0"
  },
  "servers": [
    {
      "url": "https://www.chainels.com/api/v2",
      "description": "Production server"
    },
    {
      "url": "https://demo.chainels.com/api/v2",
      "description": "Demo server which contains mock data that can be used to test."
    }
  ],
  "paths": {
    "/accounts": {
      "post": {
        "x-internal": true,
        "tags": [
          "Signup Process"
        ],
        "summary": "Create an account",
        "description": "Create a new account on  Chainels. A successful call will generate a signup request which the company, or community manager must accept.",
        "operationId": "createAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountCreate"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "Location": {
                "description": "The url of the newly created account",
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            },
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "create.account"
            ]
          },
          {
            "oauth_client": [
              "create.account"
            ]
          }
        ]
      }
    },
    "/accounts/me": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "summary": "Get the account of the authenticated user",
        "description": "Get the account information of the authenticated user.\n",
        "operationId": "getMyAccount",
        "responses": {
          "200": {
            "description": "The Account of the logged in user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatedAccount"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_code": [
              "basic",
              "read.account.email"
            ]
          },
          {
            "openid": []
          }
        ]
      }
    },
    "/accounts/{account_id}": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "summary": "Get an account by id",
        "description": "Get the account information of the authenticated user.\n",
        "operationId": "getAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "The Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "read.account.email"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "User Profile"
        ],
        "summary": "Edit an account",
        "description": "Edit an account. It is a PATCH, so you only include the fields you wish to change\n",
        "operationId": "editAccount",
        "security": [
          {
            "oauth_code": [
              "basic",
              "write.account"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "description": "The fields that you want to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountProperties"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/entities": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "summary": "Get account entity relationships",
        "description": "Get the entities this account is connected to, and the properties for that relationship. This endpoint only returns entities the current authenticated user is allowed to see.",
        "operationId": "getAccountEntities",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AccountEntityRelation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountEntityRelation"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/accounts/{account_id}/entities/{entity_id}": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "summary": "Get an account entity relationship",
        "description": "Get the entity this account is connected to, and the properties for that relationship. This endpoint only returns entities the current authenticated user is allowed to see.",
        "operationId": "getAccountEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "AccountEntityRelation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEntityRelation"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "User Profile"
        ],
        "summary": "Update account entity relationship",
        "description": "Update the properties of an account entity relationship.",
        "operationId": "updateAccountEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "requestBody": {
          "description": "The fields that you want to update. Note this is a PATCH so you only need to provide the properties you want to update. When updating the `roles`, all roles will be overwritten by the list of roles provided by this request. For more fine-grained role management use the role endpoints",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntityRelationProperties"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated AccountEntityRelation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEntityRelation"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      }
    },
    "/accounts/{account_id}/entities/{entity_id}/roles": {
      "get": {
        "tags": [
          "Account Entity Roles"
        ],
        "summary": "Get roles of an account entity",
        "description": "Get the roles assigned to this account entity relation. This endpoint only returns the roles the current authenticated user is allowed to see.",
        "operationId": "getRolesOfAccountEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityRole"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Account Entity Roles"
        ],
        "summary": "Set roles of an account entity",
        "description": "Overwrite all roles of the account entity relation with the given list.",
        "operationId": "setRolesOfAccountEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "requestBody": {
          "description": "The list of roles",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CommunityRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated list of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityRole"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Account Entity Roles"
        ],
        "summary": "Assign roles of an account entity",
        "description": "Add the given roles to the account entity. Roles that are not allowed to be assigned by the authenticated user are ignored.",
        "operationId": "addRolesToAccountEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "requestBody": {
          "description": "The list of roles",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CommunityRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated list of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityRole"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      }
    },
    "/accounts/me/active_company": {
      "put": {
        "tags": [
          "Environment"
        ],
        "x-internal": true,
        "summary": "Switch active entity",
        "description": "Change the current entity company of this account. This action corresponds with the `active_company` property of an Account.",
        "operationId": "switchActiveEntity",
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ],
        "requestBody": {
          "description": "The id of the entity to set as the active entity.",
          "content": {
            "application/json": {
              "schema": {
                "title": "ActiveCompany",
                "required": [
                  "company"
                ],
                "type": "object",
                "properties": {
                  "company": {
                    "type": "string",
                    "description": "The id of the entity you want to set as active",
                    "example": "111375950990297673"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The account of the logged in user, with the updated `active_company` value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatedAccount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/accounts/emails/status": {
      "get": {
        "x-internal": true,
        "tags": [
          "Account"
        ],
        "summary": "Get email status",
        "description": "Get the status of an email to check if it's available or if it has been used before by a deleted account",
        "operationId": "getEmailStatus",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "The email to get the status from",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The email status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "available",
                        "deleted",
                        "in_use"
                      ]
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth_client": [
              "create.account"
            ]
          }
        ]
      }
    },
    "/accounts/unactivated/{account_id}": {
      "delete": {
        "x-internal": true,
        "tags": [
          "Account"
        ],
        "summary": "Delete an unactivated account",
        "description": "Delete this account if it is unactivated",
        "operationId": "deleteUnactivatedAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Token to verify the account"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Reason the user wants to delete the account"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/environments": {
      "get": {
        "tags": [
          "Environment"
        ],
        "x-internal": true,
        "summary": "Get all environments",
        "description": "Get all the environments of the authenticated user.",
        "operationId": "getEnvironments",
        "parameters": [
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all the environments.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Environments",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Environment"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/accounts/password": {
      "put": {
        "x-internal": true,
        "tags": [
          "Account"
        ],
        "summary": "Reset password",
        "description": "Reset or edit the password of a user",
        "operationId": "resetPassword",
        "requestBody": {
          "description": "The password reset request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordReset"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "If password reset request is succesfully sent.",
            "content": {}
          },
          "204": {
            "description": "If the password is succesfully changed.",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          },
          {
            "oauth_client": [
              "write.account"
            ]
          }
        ]
      }
    },
    "/accounts/password/verify": {
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Verify password",
        "description": "Submit email and password to verify they are correct and belong to the authenticated user.",
        "operationId": "verifyPassword",
        "x-internal": true,
        "requestBody": {
          "description": "The email and password",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "email",
                  "password"
                ],
                "type": "object",
                "title": "VerifyPassword",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "test@chainels.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The verification result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result"
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimit"
          }
        },
        "security": [
          {
            "oauth_client": [
              "write.account"
            ]
          }
        ]
      }
    },
    "/accounts/me/devices": {
      "post": {
        "x-internal": true,
        "tags": [
          "Account"
        ],
        "summary": "Add a mobile device",
        "description": "Add a mobile device to this account. This can be an Android or iOS device. This endpoint is used by our mobile apps.",
        "operationId": "addDevice",
        "requestBody": {
          "description": "the device to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Device"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      },
      "delete": {
        "x-internal": true,
        "tags": [
          "Account"
        ],
        "summary": "Remove a mobile device",
        "description": "\"Logout\" a device, ie remove it from your list of devices. The device can be an Android or iOS device.\n",
        "operationId": "removeDevice",
        "requestBody": {
          "description": "the device to delete",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Device"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/accounts/me/notifications": {
      "get": {
        "x-internal": true,
        "tags": [
          "Notifications"
        ],
        "summary": "Get notifications",
        "description": "Get the last 15 notifications of this account.\n",
        "operationId": "getNotifications",
        "parameters": [
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Notifications",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Notifications",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Notification"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "read.account.notifications"
            ]
          }
        ]
      }
    },
    "/accounts/verify": {
      "post": {
        "x-internal": true,
        "tags": [
          "Signup Process"
        ],
        "summary": "Check if email exists",
        "description": "For the first step of the signup, used to verify if the given email already exists on chainels or not.",
        "operationId": "verifyEmailExists",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "community_id",
                  "company_id",
                  "email"
                ],
                "type": "object",
                "properties": {
                  "community_id": {
                    "type": "string",
                    "description": "The id of the community"
                  },
                  "company_id": {
                    "type": "string",
                    "description": "The id of the company the user wants to sign up"
                  },
                  "email": {
                    "type": "string",
                    "description": "The email of the user (this will be checked)"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The result of the validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "create.account"
            ]
          },
          {
            "oauth_client": [
              "create.account"
            ]
          }
        ]
      }
    },
    "/accounts/confirm": {
      "post": {
        "x-internal": true,
        "tags": [
          "Signup Process"
        ],
        "summary": "Confirm email token",
        "description": "Use the token to confirm the email of the signup. Returns 400 bad request if the token is invalid or already used.",
        "operationId": "confirmEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "token"
                ],
                "type": "object",
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The confirmation token that was received via email"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The result of the validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "oauth_code": [
              "create.account"
            ]
          },
          {
            "oauth_client": [
              "create.account"
            ]
          }
        ]
      }
    },
    "/accounts/confirm/send": {
      "post": {
        "x-internal": true,
        "tags": [
          "Signup Process"
        ],
        "summary": "Resend email confirmation",
        "description": "Send the email confirmation mail for the authenticated account again.",
        "operationId": "resendConfirmEmail",
        "responses": {
          "202": {
            "description": "If the mail is/will be sent",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "oauth_code": [
              "create.account"
            ]
          }
        ]
      }
    },
    "/accounts/me/notifications/read": {
      "post": {
        "x-internal": true,
        "tags": [
          "Notifications"
        ],
        "summary": "Mark notifications read",
        "description": "Mark all unread notifications of this account as read",
        "operationId": "markNotificationsRead",
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "read.account.notifications"
            ]
          }
        ]
      },
      "put": {
        "x-internal": true,
        "tags": [
          "Notifications"
        ],
        "summary": "Mark notification as read",
        "description": "Mark an unread notification of this account as read",
        "operationId": "markNotificationRead",
        "requestBody": {
          "description": "The notification that should be marked as read",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "The unique identifier of this notification",
                    "example": "171438267832530245"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "read.account.notifications"
            ]
          }
        ]
      }
    },
    "/accounts/mfa/factors": {
      "get": {
        "tags": [
          "MFA Factors"
        ],
        "operationId": "getFactors",
        "x-internal": true,
        "summary": "Get authentication factors",
        "description": "Get all the authentication factors of the authorized account",
        "responses": {
          "200": {
            "description": "An array of AuthFactor objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array of AuthFactor objects",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuthFactor"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "MFA Factors"
        ],
        "operationId": "createFactor",
        "x-internal": true,
        "summary": "Create a factor",
        "description": "Create a new factor for the authenticated account. This will return an unverified factor instance, together with additional information that is needed to enroll the user.",
        "requestBody": {
          "description": "The factor type we want to create",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "factor_type"
                ],
                "properties": {
                  "factor_type": {
                    "$ref": "#/components/schemas/FactorType"
                  },
                  "brand_id": {
                    "type": "string",
                    "description": "Optionally provide the brand id to make sure the proper brand name is used during enrollment."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FactorEnrollment"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      }
    },
    "/mfa/factors/{factor_id}": {
      "get": {
        "tags": [
          "MFA Factors"
        ],
        "operationId": "getFactor",
        "x-internal": true,
        "summary": "Get an authentication factor",
        "description": "Get a specific authentication factor",
        "parameters": [
          {
            "$ref": "#/components/parameters/FactorId"
          }
        ],
        "responses": {
          "200": {
            "description": "An AuthFactor object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFactor"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "MFA Factors"
        ],
        "operationId": "deleteFactor",
        "x-internal": true,
        "summary": "Delete authentication factor",
        "description": "Delete a specific authentication factor",
        "parameters": [
          {
            "$ref": "#/components/parameters/FactorId"
          }
        ],
        "responses": {
          "204": {
            "description": "Success",
            "content": {}
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      }
    },
    "/mfa/factors/{factor_id}/verify": {
      "post": {
        "tags": [
          "MFA Factors"
        ],
        "operationId": "verifyFactor",
        "x-internal": true,
        "summary": "Verify an authentication factor",
        "description": "Verify an unverified authorization factor to complete the enrollment process.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FactorId"
          }
        ],
        "requestBody": {
          "description": "The authorization payload to verify this factor",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The token/code the user must provide to verify this factor",
                    "example": 123456
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated AuthFactor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthFactor"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      }
    },
    "/mfa/factors/{factor_id}/challenges": {
      "post": {
        "tags": [
          "MFA Challenge"
        ],
        "operationId": "createChallenge",
        "x-internal": true,
        "summary": "Create a challenge",
        "description": "Start a new verification of a factor by creating a challenge.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FactorId"
          }
        ],
        "requestBody": {
          "description": "The authorization payload to create this challenge",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The token/code the user must provide in case of a TOTP factor type. For other factor types this is not required.",
                    "example": 123456
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created challenge.",
            "headers": {
              "Location": {
                "description": "The url of the newly created Challenge. If the status is `pending`, you must poll this endpoint until you get a different status.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MFAChallenge"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/mfa/factors/{factor_id}/challenges/{challenge_id}": {
      "get": {
        "tags": [
          "MFA Challenge"
        ],
        "operationId": "getChallenge",
        "x-internal": true,
        "summary": "Get a challenge",
        "description": "Get a previously created MFA challenge.",
        "parameters": [
          {
            "$ref": "#/components/parameters/FactorId"
          },
          {
            "name": "challenge_id",
            "in": "path",
            "description": "The id of the challenge",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The challenge.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MFAChallenge"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/signup/requests/{signup_request_id}": {
      "get": {
        "x-internal": true,
        "tags": [
          "Signup Requests"
        ],
        "summary": "Get a signup request",
        "description": "Get a signup request.",
        "operationId": "getSignupRequest",
        "parameters": [
          {
            "$ref": "#/components/parameters/SignupRequestId"
          }
        ],
        "responses": {
          "200": {
            "description": "The signup request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignupRequest"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      },
      "delete": {
        "x-internal": true,
        "tags": [
          "Signup Requests"
        ],
        "summary": "Delete signup request",
        "description": "Cancel or deny the user request",
        "operationId": "deleteSignupRequest",
        "parameters": [
          {
            "$ref": "#/components/parameters/SignupRequestId"
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      },
      "patch": {
        "x-internal": true,
        "tags": [
          "Signup Requests"
        ],
        "summary": "Edit a signup request",
        "description": "Save changes in the signup request of this account.",
        "operationId": "editSignupRequest",
        "parameters": [
          {
            "$ref": "#/components/parameters/SignupRequestId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditSignupRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/signup/requests": {
      "get": {
        "tags": [
          "Signup Requests"
        ],
        "summary": "Get the open signup requests",
        "description": "Get a list of all the signup requests for this company (or community)",
        "operationId": "getRecievedSignupRequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Signup Requests",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SignupRequest"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "create.account"
            ]
          }
        ]
      }
    },
    "/welcome": {
      "get": {
        "tags": [
          "Account"
        ],
        "x-internal": true,
        "summary": "Welcome message",
        "description": "Get the welcome message for the authorized user of his communities.",
        "operationId": "getWelcome",
        "responses": {
          "200": {
            "description": "The welcome message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Welcome"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      }
    },
    "/welcome/read": {
      "post": {
        "tags": [
          "Account"
        ],
        "x-internal": true,
        "summary": "Mark welcome as seen",
        "description": "Specify that the authenticated user has seen the welcome message",
        "operationId": "markWelcomeSeen",
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get a company",
        "description": "Get a company. This endpoint returns the complete company object. A community profile is also a company, when `entity_type == \"community\"`",
        "operationId": "getCompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "A full company object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullEntity"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Company"
        ],
        "summary": "Edit a company",
        "description": "Update an existing company. It is a PATCH, so you only include the fields you wish to change",
        "operationId": "editEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "requestBody": {
          "description": "The company data to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated FullEntity resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullEntity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "write.company"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/accounts": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get the accounts of a company",
        "description": "Retrieve the account objects of this entity. Note, the accounts are included based on their visibility level in regards to the authenticated user.",
        "operationId": "getAccountsOfEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Account objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Accounts",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/accounts/{account_id}": {
      "delete": {
        "tags": [
          "Company"
        ],
        "summary": "Remove user from an entity",
        "operationId": "removeAccountFromEntity",
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "description": "The entity id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "oauth_code": [
              "manage.members"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/accounts/pinned": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get the accounts visible on the entity profile/homescreen",
        "description": "Retrieve the account objects of this entity that are pinned for the profile/homescreen. Note, the accounts are included based on their visibility level in regards to the authenticated user.",
        "operationId": "getPinnedAccountsOfEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Account objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Accounts",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Set the accounts visible on the entity profile/homescreen",
        "description": "Set the accounts that are visible on the entity profile/homescreen. Accounts that are not included won't be shown. Accounts that have their visibility set to private won't be shown even if they are included through this endpoint.",
        "operationId": "editPinnedAccountsOfEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accounts": {
                    "type": "array",
                    "description": "The ordered list of account ids that are shown on the profile or homescreen",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.company"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/communities": {
      "get": {
        "tags": [
          "Company"
        ],
        "x-internal": true,
        "deprecated": true,
        "summary": "Get the communities of a company",
        "description": "Returns a list of the communities this company is a member of.",
        "operationId": "getCommunities",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "name": "include_self",
            "in": "query",
            "description": "If true, the response will include the community itself, if the given entity_id belongs to a community",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Chain objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Chains",
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Chain"
                      },
                      {
                        "properties": {
                          "company": {
                            "description": "The community"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/supplies": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get the offers of a company",
        "description": "Retrieve the supply (offers) objects of this company. Note, you can also get the supplies of a company embedded in the company resource when doing a call to `/companies/{entity_id}` with `?include=supply`",
        "operationId": "getSupplies",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Supply objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Supplies",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Supply"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Company"
        ],
        "operationId": "createOffer",
        "summary": "Create an offer",
        "description": "Add an offer/supply to the given company profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSupply"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created Offer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supply"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.company"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/supplies/{supply_id}": {
      "get": {
        "tags": [
          "Company"
        ],
        "operationId": "getSupply",
        "summary": "Get an offer of a company",
        "description": "Retrieve the supply objects of this company. Note, you can also get the supplies of a company embedded in the company resource when doing a call to `/companies/{id}` with `?include=supply`",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/SupplyId"
          }
        ],
        "responses": {
          "200": {
            "description": "The Offer object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supply"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Company"
        ],
        "operationId": "editOffer",
        "summary": "Edit an offer",
        "description": "Edit an offer/supply of the given company profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/SupplyId"
          }
        ],
        "requestBody": {
          "description": "The offer/supply data to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditSupply"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated Offer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supply"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.company"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Company"
        ],
        "operationId": "deleteOffer",
        "summary": "Delete an offer",
        "description": "Delete the specified offer from this company profile",
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.company"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/members": {
      "get": {
        "tags": [
          "Community Members"
        ],
        "summary": "Get the members of a community",
        "description": "Retrieve the members of this community.",
        "operationId": "getMembers",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "name": "chain_type",
            "in": "query",
            "description": "An optional filter of the type of members you want to return.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "member",
                  "partner"
                ]
              }
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "A list of group ids to optionally return only the members that are a part of that group (specifying multiple groups is an OR).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Chain objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Chains",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chain"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Community Members"
        ],
        "summary": "Add a member",
        "description": "Add a new member (company or household) to the community.",
        "operationId": "createEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          }
        ],
        "requestBody": {
          "description": "The data for the entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated FullEntity resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullEntity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "manage.members"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/members/{entity_id}": {
      "delete": {
        "tags": [
          "Community Members"
        ],
        "summary": "Remove member from a community",
        "operationId": "removeMemberFromCommunity",
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "description": "The entity id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "community_id",
            "in": "path",
            "description": "The community id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "oauth_code": [
              "manage.members"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/members/statistics": {
      "get": {
        "tags": [
          "Community Members"
        ],
        "x-internal": true,
        "summary": "Get the statistics of companies or households",
        "description": "This returns the total, engaged and the activated statistics of the given member",
        "operationId": "getMembersStatistics",
        "parameters": [
          {
            "name": "entity_type",
            "in": "query",
            "description": "the type of the member that you want the statistics of",
            "schema": {
              "type": "string",
              "enum": [
                "company",
                "household"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "Community counters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityCounters"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_client": [
              "basic"
            ]
          },
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/users": {
      "post": {
        "tags": [
          "Community Members"
        ],
        "summary": "Invite user to a community",
        "description": "Inviting a user to a community. A user is conencted to a community via its entities (company or household). That is why the `entity_id` must be specified when inviting a user. The properties in the request body all relate to that entity. If the user is already a member of a community with a different entity, this API call still works, the user is added to that additional entity, but the user name will not be overwritten.",
        "operationId": "createUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountInvite"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "The invited account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "manage.members"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/users/{account_id}": {
      "delete": {
        "tags": [
          "Community Members"
        ],
        "summary": "Remove user from a community",
        "operationId": "removeUserFromCommunity",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "description": "The community id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "oauth_code": [
              "manage.members"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/users/statistics": {
      "get": {
        "tags": [
          "Community Members"
        ],
        "x-internal": true,
        "summary": "Get the statistics of users",
        "description": "This returns the total, engaged and activated statistics of the users",
        "operationId": "getUsersStatistics",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "Community counters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityCounters"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_client": [
              "basic"
            ]
          },
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/ai/rules/{agent_type}": {
      "get": {
        "tags": [
          "AI Rules"
        ],
        "summary": "Get community AI rules for specific agent type",
        "description": "Retrieve community AI rules for a specific agent type",
        "operationId": "getCommunityAIRulesByAgentType",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "name": "agent_type",
            "in": "path",
            "required": true,
            "description": "The agent type to get rules for",
            "schema": {
              "type": "string",
              "enum": [
                "content_assistant",
                "content_moderation"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Community AI rules for specific agent type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityAIRules"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "read.ai_config"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/ai/rules": {
      "get": {
        "tags": [
          "AI Rules"
        ],
        "summary": "Get all community AI rules",
        "description": "Retrieve all community AI rules for all agent types",
        "operationId": "getAllCommunityAIRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of community AI rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityAIRules"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "read.ai_config"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "AI Rules"
        ],
        "summary": "Create or update community AI rules",
        "description": "Create/update community AI rules",
        "operationId": "createOrUpdateCommunityAIRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunityAIRulesInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated community AI rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityAIRules"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "manage.ai_config"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/events/search/attendees": {
      "get": {
        "tags": [
          "Search"
        ],
        "x-internal": true,
        "operationId": "searchUsersEvent",
        "summary": "Search users event",
        "description": "Endpoint to search for users of a community. This is the recommended endpoint to use for getting all the accounts that possible to get. You can also exclude the ones which registered for an event (if msg id given)",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "name": "q",
            "in": "query",
            "description": "The query to search on.",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "msg_id",
            "in": "query",
            "description": "The message id",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Count"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of AccountEntity objects",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array of Account objects",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountEntity"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "x-internal": true,
        "operationId": "searchMembers",
        "summary": "Search members and users",
        "description": "Endpoint to search for members and users of a community. This is the recommended endpoint to use for all member list related actions, because this endpoint has paging and household support.",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "name": "q",
            "in": "query",
            "description": "The query to search on. This matches on various fields. (name is the most important). If left empty, all companies/households/accounts are returned",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "wg",
            "in": "query",
            "description": "A quicklist id to filter on. This is the recommended approach to get all entities/accounts that are in a Quicklist.",
            "schema": {
              "$ref": "#/components/schemas/QuicklistId"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Which types you want to search on.",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "company",
                  "household",
                  "account"
                ]
              },
              "default": [
                "company",
                "account"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Count"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "A search result wrapper, which contains the result counts and the results grouped by type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResultWrapper"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/search/on_behalf": {
      "get": {
        "tags": [
          "Search"
        ],
        "x-internal": true,
        "operationId": "searchOnBehalf",
        "summary": "Search accounts on behalf of entities in a community",
        "description": "Search for Account-Entity pairs to act \"on behalf of\" within the context of a specific service in a community.\nThe results are Account-Entity tuples that can be used by clients to select the subject for on-behalf actions.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "name": "q",
            "in": "query",
            "description": "The query to search on.",
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "service_id",
            "in": "query",
            "description": "The service identifier used to scope the search (required).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wg",
            "in": "query",
            "description": "A quicklist id to filter on.",
            "schema": {
              "$ref": "#/components/schemas/QuicklistId"
            }
          },
          {
            "$ref": "#/components/parameters/Count"
          },
          {
            "$ref": "#/components/parameters/Page"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of AccountEntity objects",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Array of AccountEntity objects",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountEntity"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/meta": {
      "get": {
        "tags": [
          "Community"
        ],
        "x-internal": true,
        "deprecated": true,
        "summary": "Get the meta data of a community",
        "description": "Return the meta data of the specified community. If the id does not belong to a community, this will return a 404 Not Found. \nNote this is **deprecated**, instead you can simply request the metadata to be included in any call you do to get the community (for example the environments, or the communities of a brand)\n",
        "operationId": "getMetaData",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "Community meta data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityMetaData"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_client": [
              "basic"
            ]
          },
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/fields": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Get custom fields definitions",
        "description": "Get the custom field definitions that this community has specified.",
        "operationId": "getCustomFieldDefinitions",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of CustomFieldDefinition objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Custom field definitions",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldDefinition"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/targets": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get the groups of the community",
        "description": "Groups are collections of companies and accounts. These groups (QuickLists) can be used for a variety of purposes withing Chainels, for example message, or directory can be targeted at a group. This endpoint shows which groups (QuickLists) exist in this community and are available to view for the authenticated user.",
        "operationId": "getGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Optionally filter the groups based on a channel. In this case the endpoint will return all available groups where users can write to for that channel",
            "schema": {
              "type": "string"
            },
            "x-internal": true,
            "deprecated": true
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of QuickLists",
            "content": {
              "application/json": {
                "schema": {
                  "title": "QuickLists",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuickList"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/targets/favorites": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get the favorite groups",
        "description": "Returns the favorite groups of the community as configured by the community management.",
        "operationId": "getFavoriteGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of QuickLists",
            "content": {
              "application/json": {
                "schema": {
                  "title": "QuickLists",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuickList"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/targets/categories": {
      "get": {
        "tags": [
          "Targeting"
        ],
        "x-internal": true,
        "summary": "Get the targeting categories",
        "description": "Targets categories that can be used to fill the multi-targeting dropdown.",
        "operationId": "getTargetCategories",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "name": "selected_query",
            "in": "query",
            "description": "The (query) quicklist id that is already pre-selected in the multi-targeting dropdown",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_by",
            "in": "query",
            "description": "The (query) quicklist id that limits the available quicklists in the dropdown. Only the quicklists are available that have users in the \"limited by\" quicklist.",
            "schema": {
              "$ref": "#/components/schemas/QuicklistId"
            }
          },
          {
            "name": "exclude_community",
            "in": "query",
            "description": "True, if you want to exclude the community from the available targets.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "category_types",
            "in": "query",
            "description": "Enum that indicates which kind categories are allowed in the dropdown. For example, if `companies` is selected all account-based categories will be left out.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "accounts",
                "companies"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Target categories",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TargetCategory"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/targets/categories/message/{channel_id}": {
      "get": {
        "tags": [
          "Targeting"
        ],
        "x-internal": true,
        "summary": "Get the targeting categories of channel",
        "description": "Targets categories that can be used to easily fill the multi-targeting dropdown for message write, limited by the given channel. Note that the result of this endpoint can also be achieved by using the more general `getTargetCategories` endpoint.",
        "operationId": "getTargetCategoriesMessageWrite",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/ChannelId"
          },
          {
            "name": "message_id",
            "in": "query",
            "description": "The (optional) message id of the message from which you are editing the targets.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Target categories",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TargetCategory"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/targets/query": {
      "post": {
        "tags": [
          "Targeting"
        ],
        "x-internal": true,
        "summary": "Get result of query",
        "description": "Get the target group that is created from the targeting query",
        "operationId": "getTargetOfQuery",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          }
        ],
        "requestBody": {
          "description": "The query retrieved from the mult-targeting dropdown",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/targets/search": {
      "get": {
        "tags": [
          "Targeting"
        ],
        "x-internal": true,
        "deprecated": true,
        "summary": "Get the companies or accounts that are available in the multi-targeting dropdown",
        "description": "Get the companies or accounts that are available in the multi-targeting dropdown and matches your search query.",
        "operationId": "searchTargetingSystem",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "name": "input",
            "in": "query",
            "description": "The search input that is used to search matching targets",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit_by",
            "in": "query",
            "description": "The id of a target list (Quicklist). Only companies/accounts that belong to this list are included in the results.",
            "schema": {
              "$ref": "#/components/schemas/QuicklistId"
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "description": "The type of target that are searching for; company, account.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "company",
                "account"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Count"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array containing the results of your search query.",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "An array containing the results of your search query.",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TargetSearchResult"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Targeting"
        ],
        "x-internal": true,
        "summary": "Get the companies or accounts that are available in the multi-targeting dropdown",
        "description": "Get the companies or accounts that are available in the multi-targeting dropdown and matches your search query.",
        "operationId": "searchTargetingSystemPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Count"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
[...]
